
html, body{
   width: 100%;
   height: auto;  
   margin: 0;
}




body{
  display: flex;
  font-family: 'Arial', sans-serif;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  gap: 80px;
}

/* Navigateur */
nav {
     /* width: 100%; */
     height: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-weight: normal;
     padding: 32px;

     background-color: #FF8000;
}




/* On enlève les tirets de la liste et on met en horizontal */
ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  font-size: large;
  padding: 0;
  align-items: center;
 }

h3{
  font-weight: normal;
}

.link{
  text-decoration: none;
  color: black;
  
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: solid 2.5px black;
  text-decoration: none;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.primary {
  background: black;
  color: white;
  display: flex;
}

/* Mise en page avatar */
.avatar{
  width: 50px;
  height: 50px;
  border: solid 2px black;
  border-radius: 100%;
  object-fit: cover;
}

*
/*Description*/
#description{
  display: flex;
  /* width: 100%; */
  height: 60%;
  padding: 32px;
  background-color: #FF8000;
}

#me{
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: flex-start;

}
#picture-presentation{
  width: 30%;
}
#picture-presentation img{
  width: 100%;
  height :300px;
  object-fit: cover;
  
}

h2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: normal;

}


h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-large;
  color: #4335A7;
}


p{
  display:flex ;
  font-size: small;
  font-weight: normal;
}

img{
  width: 120px;
  height: 120px;
  object-fit: cover;
}


/* Bloque Compétences */
#skills{
  display: flex;
  gap: 32px;
  padding: 32px;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  
}


.skill-container{
  display:flex;
  align-items: center;
  flex-wrap:wrap;
  width: 100%;
  gap: 20px;
  justify-content: space-around;
  }


.skill{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  flex-basis: calc(33.333% - 20px); /* Trois colonnes */
  box-sizing: border-box; /* Inclut le padding dans la largeur */
  background-color: #4335A7; 
  padding: 10px;
  border-radius: 8px; 
  height: auto; 

}

.skill h3{
  font-weight: bolder;


}
/* Mes dernières réalisations */

/* Section id projects */
#projects{
  display: flex;
  gap: 32px;
  padding: 32px;
  justify-content: space-around;
  flex-direction: column;
}

.project-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}


.project {
  display: flex;
  flex-direction: column; /* Place le contenu verticalement */
  align-items: center;
  justify-content: center;
  flex-basis: calc(33.333% - 20px); /* Trois colonnes */
  box-sizing: border-box; /* Inclut le padding dans la largeur */
  background-color: #4335A7; 
  padding: 10px;
  border-radius: 8px;
  height: auto; /* Ajuste automatiquement à la taille du contenu */
     

}

.project a {
  width: 100%;
  background-color: white;
  
}
.project img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: #FF8000;
}


#projects h2{
  font-weight: bolder;
}


/* Bloque Témoignages */
.testimonial-container{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  justify-content: space-around;
  gap: 20px;
  

}
#testimonials{
  display: flex;
  height: 70%;
  gap: 32px;
  padding: 32px;
  justify-content: space-around;
  flex-direction: column;
}

.testimony p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;

}

.testimony{
 padding: 15px;
  box-shadow: 0px 4px 6px rgba(0,0,0, 0.1);
  display: flex;
  flex-direction: column; /* Place le contenu verticalement */
  align-items: center;
  justify-content: center;
  flex-basis: calc(33.333% - 20px); /* Trois colonnes */
  box-sizing: border-box; /* Inclut le padding dans la largeur */
  background-color: #4335A7; /* Fond violet */
  padding: 10px;
  border-radius: 8px; /* Arrondi pour un effet moderne */
  height: auto;
  background-color: #FF8000;
}




footer{
  display: flex;
  background-color: #FF8000;
}

#contact{
  display: flex;
  width: 56%;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

#contact h2{
  color: blue;
  font-weight: bold;
}



.button-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/* Media Queries ( Avoir un site qui s'adapte à tout support : mobile, ordinateur)*/
@media screen and (max-width: 800px) {
  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  ul {
      flex-direction: column;
      align-items: flex-start;
  }

  #description, #skills, #projects, #testimonials {
      flex-direction: column;
      align-items: center;
  }

  .skill-container, .project-container, .testimonial-container {
      flex-direction: column;
      align-items: center;
  }

  .skill, .project, .testimony {
      width: 100%;
  }

  img {
      width: 100%;
      height: auto;
  }
}

/* Media Queries for Responsiveness */
@media screen and (max-width:  992px) {
   nav {
       flex-direction: column;
       align-items: flex-start;
   }

   ul {
       flex-direction: column;
       align-items: flex-start;
   }

   #description, #skills, #projects, #testimonials {
       flex-direction: column;
       align-items: center;
   }

   .skill-container, .project-container, .testimonial-container {
       flex-direction: column;
       align-items: center;
   }

   .skill, .project, .testimony {
       width: 100%;
   }

   img {
       width: 100%;
       height: auto;
   }
}
