/* Base Styles */
html, body {
   width: 100%;
   height: auto;
   margin: 0;
   font-family: 'Arial', sans-serif;
}

body {
   display: flex;
   flex-direction: column;
   font-family: "Poppins", sans-serif;
   font-weight: 800;
   gap: 20px;
   padding: 10px;
}

/* Navigation Bar */
nav {
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: normal;
   padding: 16px;
   background-color: #FF8000;
}

ul {
   list-style-type: none;
   display: flex;
   gap: 10px;
   font-size: large;
   padding: 0;
   align-items: center;
}

h3 {
   font-weight: normal;
}

.link {
   text-decoration: none;
   color: black;
}

.button {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px 16px;
   border: solid 2.5px black;
   text-decoration: none;
   font-weight: 500;
   transition: all .3s ease-in-out;
}

.buttons-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

.primary {
   background: black;
   color: white;
   display: flex;
}

/* Avatar */
.avatar {
   width: 40px;
   height: 40px;
   border: solid 2px black;
   border-radius: 100%;
   object-fit: cover;
}

/* Description Section */
#description {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: #FF8000;
}

#me {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
}

#me img {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 50%;
}

h2 {
   font-weight: normal;
   text-align: center;
}

h1 {
   font-size: xx-large;
   color: #4335A7;
   text-align: center;
}

p {
   font-size: small;
   font-weight: normal;
   text-align: center;
}

img {
   width: 100%;
   height: auto;
   object-fit: cover;
}

/* Skills Section */
#skills {
   display: flex;
   gap: 20px;
   padding: 20px;
   justify-content: space-around;
   flex-direction: column;
   text-align: center;
}

.skill-container {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   gap: 20px;
   justify-content: space-around;
}

.skill {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-basis: calc(33.333% - 20px);
   box-sizing: border-box;
   background-color: #4335A7;
   padding: 10px;
   border-radius: 8px;
   height: auto;
}

.skill h3 {
   font-weight: bolder;
}

/* Projects Section */
#projects {
   display: flex;
   gap: 20px;
   padding: 20px;
   justify-content: space-around;
   flex-direction: column;
   background-color: white;
   color: black;
}

.project-container {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 20px;
}

.project {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-basis: calc(33.333% - 20px);
   box-sizing: border-box;
   background-color: #4335A7;
   padding: 10px;
   border-radius: 8px;
   height: auto;
   color: white;
}

.project a {
   width: 100%;
   background-color: white;
   color: black;
}

.project img {
   width: 100%;
   height: auto;
   object-fit: cover;
}

#projects h2 {
   font-weight: bolder;
   color: black;
}

/* Testimonials Section */
.testimonial-container {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 20px;
}

#testimonials {
   display: flex;
   gap: 20px;
   padding: 20px;
   justify-content: space-around;
   flex-direction: column;
}

.testimony p {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
}

.testimony {
   padding: 15px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-basis: calc(33.333% - 20px);
   box-sizing: border-box;
   background-color: #4335A7;
   padding: 10px;
   border-radius: 8px;
   height: auto;
   color: white;
}

.testimony .stars {
   display: flex;
   flex-direction: row;
   gap: 5px;
}

.testimony .stars img {
   width: 20px;
   height: 20px;
   object-fit: contain;
}

footer {
   display: flex;
   background-color: #FF8000;
   padding: 10px;
}

#contact {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: flex-start;
   padding: 20px;
}

#contact h2 {
   color: blue;
   font-weight: bold;
}

.button-contact {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 800px) {
   nav {
       flex-direction: column;
       align-items: flex-start;
   }

   ul {
       flex-direction: column;
       align-items: flex-start;
   }

   #description, #skills, #projects, #testimonials {
       flex-direction: column;
       align-items: center;
   }

   .skill-container, .project-container, .testimonial-container {
       flex-direction: column;
       align-items: center;
   }

   .skill, .project, .testimony {
       width: 100%;
   }

   img {
       width: 100%;
       height: auto;
   }
}


